html, body, h1, h2, p, div {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Helvetica, arial, sans-serif;
}

body {
	background: #555a5e url(../img/bg.gif);
	border-left: 40px solid #555a5e;
	border-bottom: 40px solid #555a5e;
	overflow: hidden;
}

/* don't allow pausing the video by clicking directly on it */
iframe {
	pointer-events: none;
}

a {
	color: #a0a5a8;
	text-decoration: none;
}

a:hover {
	/*text-decoration: underline;*/
}

form {

}

input {
	background: none;
	border: none;
	border-bottom: 2px solid #fff;
	width: 100%;
	margin: 0 0 2em 0;
	font-size: 14px;
	padding-left: 1em;
	padding-bottom: 0.5em;
}

textarea {
	background: none;
	border: 2px solid #fff;
	width: 100%;
	padding: 1em;
}

input[type="submit"] {
	display: none;
}

label {
	float: right;
	margin-top: 1em;
	color: #fff;
	cursor: pointer;
}

label svg {
	color: #fff;
	fill: currentColor;
	vertical-align: top;
}

#holder {
	z-index: 20;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#holder,
#info,
h1,
#holder,
#next-btn,
#prev-btn,
#random-btn,
#info-btn,
#play-btn,
#pause-btn {
	transform: scale(1);
	visibility: visible;
	opacity: 1;
	transition-duration: 400ms;
	transition-property: transform, visibility, opacity;
	transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

h1 {
	color: #fff;
	fill: currentColor;
}

h2 {
	font-family: "Atlas Grotesk";
	font-size: 60px;
	line-height: 40px;
	margin-bottom: 32px;
	position: absolute;
	right: 0;
	top: -40px;
	color: #a0a5a8;
	transform-origin: 100% 100%;
	transform: rotate(-90deg);
	text-align: right;
	box-sizing: border-box;
	z-index: 30;
	font-size: 60px;
}

#random-btn {
	-webkit-transition-delay: 300ms;
}

#info-btn {
	-webkit-transition-delay: 400ms;
}

#play-btn {
	-webkit-transition-delay: 200ms;
}

#next-btn {
	-webkit-transition-delay: 600ms;
}

#prev-btn {
	-webkit-transition-delay: 600ms;
}

/*h1 svg {
  stroke-dasharray: 7000;
  stroke-dashoffset: 7000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}*/

body.woop #info,
body.woop h1,
body.woop #holder,
body.woop #next-btn,
body.woop #prev-btn,
body.woop #random-btn,
body.woop #info-btn,
body.woop #play-btn,
body.woop #pause-btn {
	opacity: 0;
	transform: scale(2);
	visibility: hidden;
	overflow: hidden;
}

body.woop #info,
body.woop h1,
body.woop #next-btn,
body.woop #prev-btn,
body.woop #random-btn,
body.woop #info-btn,
body.woop #play-btn,
body.woop #pause-btn {
	transform: scale(4);
}

#vid1 {
	position: absolute;
	top: 0;
	right: 0;
}

#about,
#contact {
	visibility: hidden;
	transform: scale(2);
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 20px;
	left: 20px;
	right: 0;
    background: url(../img/bg.gif);
    line-height: 24px;
    color: #a0a5a8;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    z-index: 20;
}

#about.mesh,
#contact.mesh {
	visibility: visible;
	transform: scale(1);
	opacity: 1;
}

#about p,
#contact p {
	color: #f5f5f5;
	font-family: "Atlas Typewriter";
	font-size: 16px;
}

#info {
	position: absolute;
	bottom: 50px;
	right: 20px;
	height: auto;
	z-index: 11;
	color: #f5f5f5;
	text-align: right;
}

#info p {
	font-size: 14px;
}

h1 {
	position: absolute;
	z-index: 20;
	top: 0;
	left: 20px;

}

#next-btn,
#prev-btn,
#random-btn,
#info-btn,
#play-btn,
#pause-btn {
	z-index: 20;
	position: absolute;
	color: #fff;
	fill: currentColor;
}

#next-btn:hover,
#prev-btn:hover,
#random-btn:hover,
#info-btn:hover,
#play-btn:hover,
#pause-btn:hover {
	color: #333;
	fill: currentColor;
	cursor: pointer;
}

#social {
	position: absolute;
	bottom: 0;
	right: 20px;
}

#social a {
	margin: 0 12px;
	color: #a0a5a8;
	fill: currentColor;
}

#social a:hover {
	color: #333;
	fill: currentColor;
}

#social a:last-of-type {
	margin: 0;
}

#btns {
	position: absolute;
	right: 20px;
	top: 0;
	color: #a0a5a8;
	transform-origin: 100% 100%;
	transform: rotate(-90deg);
	text-align: right;
	padding-right: 10px;
	box-sizing: border-box;
	z-index: 30;
	font-size: 14px;
}

#next-btn {
	bottom: 100px;
	right: 20px;
}

#prev-btn {
	bottom: 100px;
	right: 50px;
}

#random-btn {
	left: 74px;
	bottom: 24px;
}

#info-btn {
	left: 24px;
	bottom: 24px;
}

#play-btn {
	left: 48px;
	bottom: 80px;
}

#video-player {
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	-webkit-transform:translateZ(0);
	-webkit-transition: all 600ms ease;
	transition: all 600ms ease;
}



.vjs-play-control,
.vjs-current-time,
.vjs-time-divider,
.vjs-duration,
.vjs-remaining-time,
.vjs-live-controls,
.vjs-fullscreen-control,
.vjs-volume-control,
.vjs-mute-control,
.vjs-seek-handle {
	display: none;
}

.vjs-progress-control {
	display: block !important;
	left: 5px !important;
	transform-origin: 0 0;
	transform: rotate(90deg);
	height: 0.5em !important;
}

.vjs-control-bar {
	bottom: auto !important;
	visibility: visible !important;
	opacity: 1 !important;
	left: 20px !important;
	top: 62px !important;
}

.vjs-play-progress {
	background: #fff !important;
}